:root {
    --color-c1: #F2F2F2;
    --color-c2: #FAFAFA;
    --color-c3: #FFFFFF;
    --color-c4: #24252A;
    --color-c4-hover: #2E2F36;
    --color-c5: #00BFA6;
    --color-c5-hover: #039E89;
    --color-c6: #FF3696;
    --color-c7: #F53D3D;
    --color-c8: #53545C;
    --color-c9: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.history__container {
    margin: 2em;
    height: 650px;
    overflow: auto;
    border-radius: 10px;
}

/* Desktop table */

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--color-c3);
    box-shadow: 1px 7px 15px -16px var(--color-c9);
    border-left: 4px var(--color-c5) solid;
}

thead th {
    position: sticky;
    top: 0;
    color: var(--color-c5);
    font-weight: 500;
    font-size: 1rem;
}

tr, th {
    cursor: pointer;
    padding: 1em .5em;
    text-align: center;
    border-bottom: .5px #afb0bd5a solid;
    font-style: italic;
    transform: scale(.98);
    transition: .5s;
    color: var(--color-c4);
}

.tr--g {
    background-color: #c9c9ce27;
}

tr:hover {
    transform: scale(1);
    transition: .5s;
}

.table__action {
    text-decoration: none;
    color: var(--color-c5);
    font-weight: 500;
    font-size: 1rem;
}

.table__action__img {
    width: 30px;
    height: 30px;
    margin-left: 1em;
}

@media (max-width: 885px) {
    .recents {
        display: none;
    }
}

@media (max-width: 1160px) {
    .users {
        display: none;
    }
}

/* Mobile table */

.table--mobile {
    display: none;
    width: 100%;
}

.table--umobile {
    display: none;
    width: 100%;
}

.resmobile {
    height: 300px;
    overflow-y: auto;
}
.recents--mobile {
    background-color: var(--color-c3);
    border-left: 4px var(--color-c5) solid;
    flex-wrap: wrap;
    box-shadow: 1px 7px 15px -16px var(--color-c9);
}

.mobile__row {
    text-decoration: none;
    cursor: pointer;
    padding: 1em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    border-bottom: .5px #8587965a solid;
    transform: scale(.98);
    transition: .5s;
}

.mobile__row:hover {
    transform: scale(1);
    transition: .5s;
}

.col__one,
.col__two {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
    width: 90%;
}

.col__date {
    align-self: flex-end;
}

.col__content {
    text-align: center;
    font-style: italic;
    color: #858796;
}

.col__title {
    color: var(--color-c5);
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
}

.mobile__row--gray{
    background-color: #c9c9ce27;
    color: var(--color-c3);
}

.col {
    text-align: left;
}

@media (max-width: 885px) {
    .table--mobile {
        display: contents;
    }

    .result {
        display: none;
    }
}

@media (max-width: 1160px) {
    .table--umobile {
        display: contents;
    }
}

.table__action {
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: none;
}

.result {
    height: 400px;
    overflow-y: auto;
}

.search-result {
    border: none;
}

.shop-details {
    width: 95%;
    margin: 7rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.tracking {
    width: 100%;
    display: grid;
    place-items: center;

}

.tracking__title {
    font-family: 'Lavishly Yours', cursive;
    font-size: 2.5rem;

}

.tracking__container {
    background: none;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    padding: 1.5em;
    border-radius: 5px;
    box-shadow: none;
    border: none;
}

.stages {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.stage {
    background-color: var(--color-c5);
    display: grid;
    place-content: center;
    color: var(--color-c3);
    font-weight: 500;
    font-size: 2rem;
}

.stage--dot {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.stage--line {
    width: 25%;
    height: 5px;
}

.stage--uncompleted {
    background-color: rgba(162, 145, 145, 0.188);
}

img {
    width: 50px;
}

.tracking__actions {
    display: flex;
    gap: 1em;
}

.action {
    cursor: pointer;
    display: grid;
    place-content: center;
    background-color: var(--color-c4);
    border-radius: 50%;
    padding: .5em;
    transform: scale(.98);
    transition: .5s;
}

.action:hover {
    transform: scale(1);
    opacity: .9;
    transition: .5s;
}

.tracking__subtitle,
.tracking__descr {
    font-size: 1.2rem;
}

.tracking__descr {
    color: var(--color-c5);
    font-weight: 500;
}

.summary-bill{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: var(--color-c3);
    box-shadow: 1px 7px 15px -16px var(--color-c9);
    border-left: 4px var(--color-c5) solid;
    text-align: right
}

@media (max-width: 720px) {
    .stage--dot {
        height: 40px;
        width: 60px;
    }
    .stage {
        font-size: 1.5rem;
    }
}

@media (max-width: 1130px) {
    .shop-details {
        flex-wrap: wrap;
    }

    .tracking__container {
        box-shadow: 1px 7px 15px -16px #000000;
        background-color: var(--color-c3);
    }
}